<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
	<a class="navbar-brand brand" id="brand">Cinema</a>

	<div
		class="navbar-collapse collapse"
	>
		<ul class="navbar-nav mt-lg-0 mr-auto mt-2">
			<li class="nav-item">
				<a class="nav-link" routerLink="/homePage" routerLinkActive="active">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/nowPlaying" routerLinkActive="active">Now Playing</a>
			</li>
      <li class="nav-item">
				<a class="nav-link" routerLink="/foodAndDrinks" routerLinkActive="active">Food and Drinks</a>
			</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active">Auth</a>
      </li>
		</ul>
	</div>
</nav>

