<h1>Welcome to the New Movie Experience ...</h1>

<br>
<br>

<div class="row">
  <div class="col-md-4">
    <h2>Contact Information</h2>
    <br>
    <p>Location: <br><br>
       2849 Themis St. Suite B <br>
      Cape Girardeau Missouri 63703
      <br> <br>
      Phone: <br><br> 573-555-5555
      <br><br>
      email: <br><br> nmc.outlook.com</p>

  </div>

    <div class="col-md-4">
      <h2>Movie Specials For October </h2>
      <p> 🤪 Monday Madness 🤪 <br> Come see a movie and get a free drink with a purchase!  </p> <br>
      <p> 🤪Wacky Wednesday 🤪 <br> Come with your wacky gear for a change to win a free showing (any weekday in October ) </p> <br>
      <p> 🤪Freaky Fridays🤪</p> <br>
      <p class="discounts"> Discounts Seniors $9 movies daily <br><br> Students $2 Tuesday's</p>
    </div>

      <div class="col-md-4">
        <h2>Coming Soon</h2>

    </div>
</div>

